

<form #form='ngForm' ngNativeValidate >
    <h2>Login</h2>
    <div class="form-group">
        <label for="username">Username</label>
        <input name="username" type="text" class="form-control" required [(ngModel)]="model.username"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" required [(ngModel)]="model.password" />
    </div>
    <div>
      <button type="submit" (click)="login()" routerLink="/home">Login</button>
      <button class="register" type="button" routerLink="add" routerLinkActive="active">Register</button>
    </div>
</form>
