

<div id="divlogocontainer">
    <img id="divlogo" src="./assets/logo2.png" alt="foodstuff">
  </div>    
<br>
<form #form='ngForm' ngNativeValidate class="col-3 mx-auto border rounded" id="loginform" >
    <h2 class="text-center">Login</h2>
    <div > 
    <div class="form-group" >
        <label for="username">Username</label>
        <input name="username" type="text" class="form-control" required [(ngModel)]="model.username"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" required [(ngModel)]="model.password" />
    </div>
    <div class="mb-3">
      <span class="text-warning errorMsg" [innerHtml]="errorMsg"></span>
    </div>
    <div class="d-flex justify-content-around w-100" >
      <button class="btn btn-lg btn-light" type="submit" (click)="login()">Login</button>
      <button class="btn btn-lg btn-light" type="button" routerLink="/register" routerLinkActive="active">Register</button>
    </div>
</div>
</form>

