

<form #form='ngForm' ngNativeValidate class="col-3 mx-auto border rounded">
    <h2 class="text-center">Login</h2>
    <div> 
    <div class="form-group ">
        <label for="username">Username</label>
        <input name="username" type="text" class="form-control" required [(ngModel)]="model.username"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control" required [(ngModel)]="model.password" />
    </div>
    <div >
      <button class="btn btn-light" type="submit" (click)="login()" routerLink="/home">Login</button>
      <button class="register btn btn-light" type="button" routerLink="/register" routerLinkActive="active">Register</button>
    </div>
</div>
</form>

