<div class="container-fluid col-6" *ngIf="post && saved && followees">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel>
      <ng-template ngbPanelHeader>
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="m-0">{{ post.title }}</h5>
          <div>
            <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2">View Recipe</button>
            <button *ngIf="checkIfSaved(post.postId); else elseSaveBlock" type="button"
              class="btn btn-sm btn-outline-secondary ml-2" (click)="unsavePost(post.postId)">Unsave
              Post</button>
            <ng-template #elseSaveBlock>
              <button type="button" class="btn btn-sm btn-outline-secondary ml-2" (click)="savePost(post.postId)">Save
                Post</button>
            </ng-template>

            <button *ngIf="checkIfFollowing(post.userId.userId); else elseFollBlock" type="button"
              class="btn btn-sm btn-outline-danger ml-2" (click)="unfollow(post.userId.userId)">Unfollow</button>
            <ng-template #elseFollBlock>
              <button type="button" class="btn btn-sm btn-outline-danger ml-2"
                (click)="follow(post.userId.userId)">Follow</button>
            </ng-template>

          </div>
        </div>
      </ng-template>



      <ng-template ngbPanelContent>
        <div class="container border border-primary rounded">
          {{post.content}}


        </div>
        <div>
          <form>
            <div class="form-group">
                <label for="createComment">Your thoughts?</label>
                <textarea name="postComment "class="form-control" id="createComment" rows="3" [(ngModel)]="postComment" ></textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-2" (click)="createComment()">Comment</button>
        </form>
        </div>
        
        <div *ngFor="let comments of comment">
          
          <a [routerLink]="['/users', comments.userId.userId]" routerLinkActive="router-link-active" >{{comments.userId.username}} </a>
          {{comments.comments}}
          <div *ngIf="checkIfDeletable(comments.userId.userId)">
            <button type="button" (click)="deleteComment(comments.commentId)">Delete</button>
          </div>
       </div>
        


      </ng-template>



    </ngb-panel>

  </ngb-accordion>
</div>