<app-navbar></app-navbar>

<div class="ml-3">
</div>
<!-- <p>id: {{user.userId}} </p> -->
<div class="ml-3">
    <h3>Welcome {{user.username}}</h3>
    <h5>
        <div class="ml-3">
            Followers: <a href="#">{{followers.length}}</a>

            Following: <a href="#">{{following.length}}</a>
        </div>
    </h5>
</div>
<div class="ml-3">
    <h1 class="text-center">Posts</h1>
    <div *ngFor="let post of postsToDisplay">
        <div class="mx-3">
            <app-post postId="{{post.postId}}"></app-post>

        </div>
    </div>

    <div class="ml-3">
        <h1 class="text-center">Saved Posts</h1>

        <div *ngFor="let post of savedPosts">
            <div class="mx-3">
                <app-post postId="{{post.postId}}"></app-post>
            </div>
        </div>