/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
.navbar{
    background-color:#1DA1F2;   
}

#FeedsDiv { 
    padding:50px; 
    background:rgb(127, 156, 236);
    position:relative;
     top:100px ;
     height:600px;
     width: 60%;    
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 100px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-weight: bold;
     /* border-radius: 25px; */
    }

#contentDiv{
    padding:10px; 
    background:rgb(177, 96, 96);
    border-radius: 25px;
    }

#txtcomment
{
    border-radius: 25px;  
}


#loginform
{
   position:relative;  
   top:100px;
}

#divlogo{ 
     
    height:200px;
    width: 600px;
   

}

#divlogocontainer{
    top:50px;  
    position:relative;  
    text-align: center;
}

#divUsers
{
    width: 80%;
    margin:0 auto;
}

#divposts{
    width: 80%;
    margin:0 auto;  
}

#divlogosmall
{
   color :white;
   font-weight: 1000;
}

#mainbody{
    background-color:#E1E8ED;
}

#tdnames{
    font-weight: 500;
}