

<div class="container col-12 ">
<nav class="navbar navbar-expand-lg navbar-light bg-primary rounded ">
  <h4>FoodStuff</h4>
    <!-- <a class="navbar-brand" href="#">Foodstuff</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item active"  >
          <!-- <a class="nav-link" href="#">Home(News Feeds) <span class="sr-only">(current)</span></a> -->
          <a routerLink="/home" class="nav-link mx-3 " routerLinkActive="active">Home(News Feeds)</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">My Profile</a> -->
          <a [routerLink]="['/users', cid]" class="nav-link mx-3" routerLinkActive="active">Profile</a>
        </li>
        <li class="mx-5">
          <div class="mx-d">
          <app-create-post class="align-self-center"></app-create-post>
        </div>
        </li>
        <!-- <li class="nav-item">
          <a routerLink="/cpost" class="nav-link mx-3" routerLinkActive="active">Create Post</a>
        </li>
        <li>
         
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Followed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Saved</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">Logout</a>
          </li> -->   
      </ul>
      <form (ngSubmit)="onSubmit()" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="user.email" name="email">
        <button class="btn btn btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="p-1">
      <button class="btn btn-secondary mx-3" (click)="logout()">Logout</button>
    </div>
    </div>
  </nav>
  </div>
 
